<!-- Home Section Start -->
<section class="home d-flex align-items-center">
    <div class="container">

      <div class="row align-items-center">
        <div class="col-md-7">
          <h1 class="header-h1" >A rede social do empreendedorismo</h1>
          <p class="header-paragrafo">
            DO ZERO hub visa atender o Objetivo de Desenvolvimento Sustentavel 8, crescimento econômico inclusivo e
              sustentável, gerando a inclusão de pessoas em uma rede de contatos de empreendedores que estão no mesmo
              contexto, com insights para uma melhor capacitação em gestão de negócios.
          </p>
          <div class="home-btn">
            <a href="#" class="btn btn-1">Faça seu cadastro</a>
          </div>
        </div>
        <div class="col-md-5 text-center">
          <img class="header-img" src="https://cdn.discordapp.com/attachments/921021930855858236/921825483795083264/img-logotipo-05.png" alt="">
        </div>
      </div>
      
    </div>
    
</section>

  <!-- Home Section End -->
  
  <!-- Team Section Start --> 
  <section class="team">
    <div class="row">
      <div class="col-12 text-center">
        <h2 class="team-header">Nossa Equipe</h2>
      </div>
    </div>

    <div class="row">

      <div class="card-team" style="width: 18rem;">
        <img class="card-img-top" src="https://cdn.discordapp.com/attachments/921021930855858236/922162265845809172/carol.png" alt="Card image cap">
        <div class="card-body">
          <h4 class="card-title">Caroline</h4>
          <h6>Desenvolvedora Full Stack</h6>
          <p class="card-text">Sempre tive grande criatividade e após algumas experiências profissionais decidi
            migrar da área contabilidade, para mergulhar no mundo da programação, onde passei a me divertir
            estudando Banco de dados, Java com Spring e explorar ainda mais a minha capacidade de criar coisas
            novas.</p>
          
            <div class="home-btn">
                <a href="https://github.com/Caroline-Calixto" class="btn btn-1">Github</a>
            </div>
        </div>
      </div>

      <div class="card-team" style="width: 18rem;">
        <img class="card-img-top" src="https://cdn.discordapp.com/attachments/921021930855858236/922162266034569236/felipe.png" alt="Card image cap">
        <div class="card-body">
          <h4 class="card-title">Felipe</h4>
          <h6>Desenvolvedora Full Stack</h6>
          <p class="card-text">Iniciei minha trajetória aos 17 anos como aprendiz na Neovia Nutrição Animal, onde
            Fui efetivado como auxiliar administrativo e durante 8 anos
            passei por diversas áreas como RH, Portaria, Gestão de preços e SAC. Hoje estou finalizando o curso
            de Gestão Comercial pela Unip e o bootcamp da Generation Brasil.</p>
          
            <div class="home-btn">
                <a href="https://github.com/Felipepereiralima" class="btn btn-1">Github</a>
            </div>
        </div>
      </div>

      <div class="card-team" style="width: 18rem;">
        <img class="card-img-top" src="https://cdn.discordapp.com/attachments/921021930855858236/922162265598337055/ana.png" alt="Card image cap">
        <div class="card-body">
          <h4 class="card-title">Ana Jessica</h4>
          <h6>Desenvolvedora Full Stack</h6>
          <p class="card-text">Com 15 anos iniciei minha carreira profissional como vendedora, assim adquiri soft
            skills. Na sequência trabalhei como técnico em eletrônica, onde tive meu primeiro contato com
            programação. A curiosidade sobre esse mundo me levaram a cursar Análise de Sistemas e o Bootcamp da
            Generation.</p>
          
            <div class="home-btn">
                <a href="https://github.com/anagjorge" class="btn btn-1">Github</a>
            </div>
        </div>
      </div>


    </div>

    <div class="row">

      <div class="card-team" style="width: 18rem;">
        <img class="card-img-top" src="https://cdn.discordapp.com/attachments/921021930855858236/922162266311372800/leticia.png" alt="Card image cap">
        <div class="card-body">
          <h4 class="card-title">Leticia(ela/dela)</h4>
          <h6>Desenvolvedora Full Stack</h6>
          <p class="card-text">Olá, meu nome é Letícia, moro em Campinas, São Paulo.Sou curiosa e criativa e gosto
            de aprender.
            Formada em Biologia, na faculdade aprendi um pouco sobre programação, o que me levou ao curso de
            Desenvolvedora Java Jr Fullstack da Generation Brasil.</p>
          
            <div class="home-btn">
                <a href="https://github.com/lefesi" class="btn btn-1">Github</a>
            </div>
        </div>
      </div>



      <div class="card-team" style="width: 18rem;">
        <img class="card-img-top" src="https://cdn.discordapp.com/attachments/921021930855858236/922162266508501013/natan.png" alt="Card image cap">
        <div class="card-body">
          <h4 class="card-title">Natan</h4>
          <h6>Desenvolvedora Full Stack</h6>
          <p class="card-text">Sempre fui curioso pra tecnologia e estudava hardware pelo Youtube, decidi prestar
            provas em escolas técnicas e como não passei fiquei frustrado achando que isso não era pra mim, até
            encontrar a Generation que me capacito não só na programação mas também a desenvolver soft skills
            essenciais.</p>
          
            <div class="home-btn">
                <a href="https://github.com/Natxn" class="btn btn-1">Github</a>
            </div>
        </div>
      </div>


    </div>

  </section>

  <!-- Thankyou section Start-->
  <section class="Thankyou">

    <div class="row">
      <div class="col-12 text-center">
        <h2 class="Thankyou-title">Agradecimentos</h2>
      </div>
    </div>
  <div class="container mt-5 mb-5">

    <div class="row mt-3">


      <div class="col-md-6">

        <div class=" text-justify mt-5">
          <div>
            <div class="img-section2 pt-5">
              <div class="description-projeto">Quando olhamos para o lado e vemos alguém que está sempre presente para nos auxiliar, só podemos ser gratos. 
                Esse é nosso sentimento aos queridos instrutores, que nos guiaram durante essa jornada e à toda a Generation
                por terem nos proporcionado a oportunidade de participar da Turma 35. 
                <p>Gratidão e eterna admiração a todos os envolvidos que nos ensinaram a produzir um código limpo e com boas práticas : </p>
                <p>Leonardo Alves - Jefferson Itajahy - Camilla Cleane - Geandro Araújo</p>
                <br>
                <p>MUITO OBRIGADE</p>
                
              </div>

              
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div>
          <img class="w-100"
            src="https://cdn.discordapp.com/attachments/921021930855858236/921569560518340628/img-section-thanks.png">
        </div>
      </div>

    </div>

  </div>
</section>
<!-- Thankyou section End-->
