#img{
  height: 42%;
  width: 18%;
  margin-top: 25px

}

.ponto{
 list-style-type: none;
}

#img-bg{
  background-image: url('../../assets/img-login-detalhado.svg');
  min-height: 825px;
  max-height: 826px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#color{
  color:blueviolet;
}

#body{
  background-color: #9370db;
}

.btn {

  font-family: 'Work Sans', sans-serif;
  color: #ffffff;
  width: 350px;
  height: 43px;
  left: 906px;
  top: 523px;
  background-color: #04C35C;
  border-radius: 8px;
}




.form-group{
  color:aliceblue;
}

