

<div class="container-fluid">

  <div class="row d-flex align-items-center" id="body">
    <div class="col-md-6">
      <div class="row d-flex justify-content-center">
        <div class="col-md-6 card" style="width: 25rem; height: 35rem;">



          <div class="form-group text-black">

          <img  id="img" class="text-center rounded mx-auto d-block padding-top" src="../../assets/img-logo2.png"  alt="">

            <label for="usuario">E-mail</label>
            <input [(ngModel)]="UserLogin.usuario" class="form-control" type="text" name="usuario" id="usuario"
              placeholder="Seu e-mail">
          </div>
          <div class="form-group mt-3 text-black">
            <label for="senha">Senha</label>
            <input [(ngModel)]="UserLogin.senha" class="form-control" type="password" name="senha" id="senha"
              placeholder="Sua senha">
          </div>
          <div class="d-flex justify-content-center mt-3">
            <button type="submit" class="btn" (click)="entrar()">LOGIN</button>
          </div>
          <div class="mt-5 mb-5 "></div>
          <p class="text-center">Não tem uma conta?</p>
          <p class="text-center"><a routerLink="/cadastrar">Inscreva-se no DoZero Hub hoje mesmo!</a></p>



        </div>

      </div>
    </div>
    <div class="col-md-6 d-none d-md-block" id="img-bg">

    </div>

  </div>
</div>

