<div class="d-flex flex-column flex-shrink-0 vh-100" style="width: 100%; height: 100%; " id="menu">
  <div class="border-top"> <a href="#" class="d-flex align-items-center justify-content-center p-3 link-dark text-decoration-none" id="dropdownUser3" data-bs-toggle="dropdown" aria-expanded="false"> <img src="{{foto}}" alt="mdo" width="80px" height="80px" class="rounded-circle"> </a>
  <p class="m-0 fw-bolder text-white text-center" id="nomesidebar">{{nome}}</p>

  </div>
  <ul class="nav nav-pills nav-flush flex-column mb-auto text-center">

      <li> <a href="#" class="nav-link border-bottom text-white" data-toggle= "modal" data-target="#novaPostagem"> <i class="fa fa-pencil"></i> <small class="fw-bold">Publicar</small> </a> </li>
      <li> <a href="#postagens" class="nav-link py-3 border-bottom text-white"> <i class="fa fa-binoculars"></i> <small class="fw-bold">Postagens</small> </a> </li>
      <li> <a routerLink='/ladingPage' class="nav-link py-3 border-bottom text-white"> <i class="fa fa-folder-open"></i> <small class="fw-bold">Projeto</small> </a> </li>
      <li> <a routerLink='/fale-conosco' class="nav-link py-3 border-bottom text-white"> <i class="fa fa-envelope"></i> <small class="fw-bold">Contato</small > </a> </li>
      <li> <a href="#" class="nav-link py-3 border-bottom text-white" (click)="sair()"> <i class="fa fa-sign-out"></i> <small class="fw-bold">Sair</small> </a> </li>
  </ul>
</div>
